@import "general.less";

.dropdown {
  position: relative;
  display: inline-block;

  .dropbutton {
    display: inline-block;
    cursor: pointer;
  
    margin-right: 0.4em;
    margin-bottom: 0.2em;

    padding-right: 0;

    span {
      float: right;
      border-left: 1px solid @border-color;
      margin-left: 2.3em;
      margin-right: 1.2em;
    }
  }

  .content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    border-radius: 4px;
    .shadow;
    z-index: 1;
  
    .entry {
      color: black;
      padding: 0.5em 16px;
      text-decoration: none;
      display: block;
      white-space: nowrap;

      &.selected {
        background-color: @selection-blue;

        &:hover {
          background-color: @highlighted-blue;
        }
      }
  
      &:hover {
        background-color: #cccccc;
      }

      &:hover:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

.dropdown:hover {
  .content { display: block; }

  .dropbutton {
    //background-color: @highlighted-blue;//rgb(99, 220, 44);
  }
}