@import 'general.less';

.input-component {
  display: flex;
  flex-direction: column;

  .u-full-width,
  .form-textarea {
    flex-grow: 1;
  }
}

.thumbnail {
  padding: 0.5em;
  border: 1px solid @border-color;
  width: 100px;
  height: 150px;
  display: inline-block;
  //overflow: hidden;
  font-size: 14px;
  position: relative;
  transition: all 1s ease;
  overflow: hidden;
  background-color: white;

  .thumbnail-delete {
    position: absolute;
    right: 9px;
    top: 9px;

    display: none;
    color: white;
  }

  &:hover {
    .thumbnail-delete {
      display: block;
      cursor: pointer;

      &:hover {
        color: @selection-blue;
      }
    }
  }

  .image-frame {
    display: block;
    height: 100px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#000000 0%, #666666 29%, #474747 39%, #131313 90%, #000000);
    cursor: pointer;

    img {
      width: 110%;
      display: inline-block;
      position: absolute;
      margin-left: 50%;
      margin-top: -8%;
      transform: translate(-50%);
      min-height: 110%;
    }

    &.add {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin: 0;
        padding: 0;
        box-shadow: none;
      }
    }
  }
}

#character-list {
  display: flex;

  .thumbnail {
    margin-right: 5px;
  }
}

.form-textarea {
  display: block;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  resize: vertical;
}

.checkbox input[type='submit'] {
  display: inline;
  margin-right: 1em;
}

.edit-container {
  display: flex;
  align-content: stretch;
  width: 100%;
}

.edit-view {
  button,
  .button {
    margin-top: 0.4em;
    transition: height 0.4s;
  }
}

.gender-icon {
  width: 2em;
  text-align: center;
  display: none;
}

.list-item {
  margin: 5px;
  display: inline-block;

  &.sortable {
    &:hover,
    &:active {
      transform: scale(1.1);
      .shadow;
    }
  }
}

.thumbnail-list {
  display: flex;
  align-items: center;

  .thumbnail-list-elements {
    display: inline;
  }

  label {
    display: block;
  }

  .add-item-button {
    color: @selection-blue;

    height: 150px;
    width: 100px;

    position: relative;

    &.inactive {
      display: none;
    }

    i {
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      i {
        transform: translate(-50%, -50%) scale(1.1);
      }

      ul.add-list {
        display: inline;
      }
    }

    ul.add-list {
      height: 150px;
      .shadow;

      position: absolute;

      left: 100%;

      padding: 5px 0px;

      list-style-type: none;
      background-color: white;
      display: none;

      &:hover {
        display: inline;
      }

      li.add-list-item {
        color: black;
        margin: 3px 0 0 0;
        padding: 0 5px;

        white-space: pre;

        cursor: pointer;

        &:hover {
          color: white;
          background-color: @selection-blue;
        }
      }
    }
  }
}
