@tab-background: #8c8c8c;
@selection-blue: #33c3f0;
@disabled-grey: #7b7b7b;
@highlighted-blue: #1eaedb;
@border-color: #d1d1d1;
@backdropColor: #f6f8f8;

.shadow {
  //box-shadow: 7px 3px 3px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.24);
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    margin: 0 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #aaaaaa;

    //background: linear-gradient(to right, #999999 0%, #aaaaaa 50%, #999999 100%);
  }

  &::-webkit-scrollbar-track {
    position: relative;
    left: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #666666;
    border-radius: 4px;
  }
}
