@import "general.less";

body {
  background-color: #ccc;
}

.icon-margin {
  margin-left: 1.0em;
}

#main {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  min-width: 750px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.4em;
  background-color: @backdropColor;
  .shadow;

  & > div {
    flex-grow: 1;
  }

  .color-bar { 
    width: 10px; 
    flex-basis: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.4em;
    transition: color 2.4s;

    &.Characters {
      background-color: #00ff00; 
    }

    &.Places {
      background-color: #ffff00; 
    }

    &.Events {
      background-color: #00ffff; 
    }

    &.Timeline {
      background-color: #ff8833; 
    }
  }
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0.3em 0 0 0;
  background-color: @tab-background;

  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-start;
  overflow: hidden;

  .tab-item {
    float: left;
    text-align: center;
    padding: 1.2em  2.9em 0.3em 1.5em;
    margin: 0 0.2em; /*0 0.05em 0 0;*/
    text-decoration: none;
    cursor: pointer;
    background-color: #8C8C8C;
    color: white;
    border-radius: 0 20px 0 0;
    user-select: none; 
    
    div {
      width: 10px;
      margin: 0.1em 0.4em -0.2em 0.4em;
      height: 20px;
      display: inline-block;

      &.Characters {
        background-color: #00ff00; 
      }
    
      &.Places {
        background-color: #ffff00; 
      }
    
      &.Events {
        background-color: #00ffff; 
      }
    
      &.Timeline {
        background-color: #ff8833; 
      }
    }

    &.active {
      background-color: @backdropColor;
      color: black;
    }

    &.active, &:hover {
      z-index: 2;
      .shadow;
      transition: all 0.3s;
    }

    &:hover {
      background-color: @selection-blue;
      color: white;
    }
  }
}

@media all and (max-width: 1000px) {
  #nav-bar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    display: flex;

    .tab-item {
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
      //padding: 0.1em 0;
      margin: 0 0.2em;
      border-radius: 0.3em 0.3em 0 0;
      
      &.active, &:hover {
        box-shadow: none;
      }
    }
  }
}

#footer {
  padding: 1.1em 1.2em;
  display: block;
}

button,
.button {
  margin-right: 0.4em;
}


.load-button {
}

.save-button {
  
}

input[type="file"].file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

h2 {
  font-size: 35px;
}