/* TODO: css styles for components
   Better yet: use css imports and configure webpack accordingly */

#main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: 1px solid #B6B6B6;
  padding: 0.4em;
  margin: 0.5em;
}

.character-image {
  width: 100%;
  max-width: 20em;
  display: block;
  /*height: auto;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.character-selection {
  display: inline-block;
}

.selection-group {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon-margin {
  margin-left: 1.0em;
}